<a href="https://colab.research.google.com/github/sominshim/Algorithm/blob/main/Chapter03_%EA%B7%B8%EB%A6%AC%EB%94%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Chapter 03 그리디

### 큰 수의 법치

In [26]:
N, M, K = input("세 숫자를 입력하세요:").split()
N, M, K = int(N), int(M), int(K)

arr = input("배열 입력하세요:").split()
arr = list(map(int, arr))

세 숫자를 입력하세요:5 8 3
배열 입력하세요:2 4 5 4 6

In [32]:
arr.sort(reverse=True)
arr

[6, 5, 4, 4, 2]

In [39]:
count = 0
count += M/(K+1) * K
count += M%(K+1)

answer = count * arr[0]
answer += (M-count) * arr[1]

print(answer)

46.0

### 숫자 카드 게임

In [19]:
N, M = input("행과 열 입력하세요:").split()
N, M = int(N), int(M)

arr_m = []
for i in range(N):
    arr = input("배열 입력하세요:").split()
    arr = list(map(int, arr))
    arr_m.append(arr)

행과 열 입력하세요:2 4
배열 입력하세요:7 3 1 8
배열 입력하세요:3 3 3 4

In [20]:
min_value = []
for i in range(N):
    min_value.append(min(arr_m[i]))

In [21]:
max(min_value)

3

### 1이 될 때까지

In [24]:
N, K = input("두 숫자를 입력하세요:").split()
N, K = int(N), int(K)

두 숫자를 입력하세요:25 5

In [25]:
cnt=0

while N>1:
    if N%K == 0:
        N=N//K
    else:
        N=N-1
    cnt+=1

print(cnt)

2