<a href="https://colab.research.google.com/github/sominshim/Algorithm/blob/main/%EA%B7%B8%EB%A6%AC%EB%94%94_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q. 모험가 길드

In [24]:
n = int(input())
data = list(map(int, input().split()))
data.sort()

5
2 3 1 2 2

In [26]:
grp_cnt = 0 # 현재 그룹에 포함된 모험가 수
result = 0 # 총 그룹 수

for i in data: # 공포도가 낮은 모험가부터 확인하며
    grp_cnt += 1 # 현재 그룹에 해당 모험가 포함시키기
    if grp_cnt >= i: # 현재 그룹의 모험가 수가 해당 모험가의 공포도 이상이라면, 그룹 결성
        grp_cnt = 0 # 현재 그룹의 모험가 수 초기화
        result += 1 # 총 그룹의 수 증가시키기

print(result) # 결과 출력

## Q. 곱하기 혹은 더하기

In [50]:
s = input()

567

In [51]:
data = []
for i in s:
    data.append(int(i))

In [52]:
result = data[0]
for i in data[1:]:
    if result==0 or i==0 or i==1:
        result += i
    else:
        result *= i

In [53]:
result

210

## Q. 뒤집기(1439)

In [91]:
s = input()
cnt = 0

for i in range(len(s)-1):
    if s[i] != s[i+1]:
        cnt += 1
result = cnt//2 + cnt%2
print(result)

10110010
3

> 모범 답안

In [92]:
data = input()
count0 = 0 # 전부 0으로 바꾸는 경우
count1 = 0 # 전부 1로 바꾸는 경우

# 첫 번째 원소에 대해서 처리
if data[0] == '1':
    count0 += 1
else:
    count1 += 1

# 두 번째 원소부터 모든 원소를 확인하며
for i in range(len(data) - 1):
    if data[i] != data[i + 1]:
        # 다음 수에서 1로 바뀌는 경우
        if data[i + 1] == '1':
            count0 += 1
        # 다음 수에서 0으로 바뀌는 경우
        else:
            count1 += 1

print(min(count0, count1))

10110010
3

## Q. 만들 수 없는 금액

In [119]:
n = int(input())
data = list(map(int, input().split()))

from itertools import combinations

combi = []
result = []
for i in range(1, n+1):
    combi.append(list(combinations(data, i)))
for i in combi:
    for j in i:
        result.append(sum(j))

result = list(set(result))
num = 1
while True:
    if num not in result:
        print(num)
        break
    num += 1

5
3 2 1 1 9
8

> 아이디어

- target 금액은 1부터 시작하고 화폐 단위는 오름차순 정렬을 수행한다.
- 화폐단위를 순차적으로 검사하면서 만약 target보다 단위가 작을 경우 해당 target은 만들 수 있다.
- target을 만들 수 있을 경우, 다음 target은 해당 화폐단위를 더한 값으로 갱신한다.
- target보다 큰 값이 검사 단위로 주어질 경우 해당 target은 만들지 못한다고 판단되어 답으로 출력한다.

>> 핵심은 target 이하의 값은 모두 만들 수 있다고 정의하는 것이었다. 화폐 단위가 작은 동전부터 하나씩 확인하면서 target을 증가시키고 가장 작은 target 값을 찾아가기 때문에 그리디 알고리즘으로 분류된다.

In [120]:
n = int(input())
data = list(map(int, input().split()))
data.sort()

target = 1
for x in data:
    # 만들 수 없는 금액을 찾았을 때 반복 종료
    if target < x:
        break
    target += x

# 만들 수 없는 금액 출력
print(target)

5
3 2 1 1 9
8

## Q. 볼링공 고르기

In [128]:
import operator as op
from functools import reduce

def nCr(n, r):
    if n < 1 or r < 0 or n < r:
        raise ValueError
    r = min(r, n-r)
    numerator = reduce(op.mul, range(n, n-r, -1), 1)
    denominator = reduce(op.mul, range(1, r+1), 1)
    return numerator // denominator

In [131]:
n, m = map(int, input().split())
data = list(map(int, input().split()))
print(nCr(n, 2) - (n-m))

5 3
8

> 모범답안

In [130]:
n, m = map(int, input().split())
data = list(map(int, input().split()))

# 1부터 10까지의 무게를 담을 수 있는 리스트
array = [0] * 11

for x in data:
    # 각 무게에 해당하는 볼링공의 개수 카운트
    array[x] += 1

result = 0
# 1부터 m까지의 각 무게에 대하여 처리
for i in range(1, m + 1):
    n -= array[i] # 무게가 i인 볼링공의 개수(A가 선택할 수 있는 개수) 제외
    result += array[i] * n # B가 선택하는 경우의 수와 곱해주기

print(result)

(5, 3)

## Q. 무지의 먹방 라이브(카카오)
[링크](https://programmers.co.kr/learn/courses/30/lessons/42891)

In [417]:
def solution(food_times, k):
    while k >= 0:
        if max(food_times) == 0: return -1

        for i in range(len(food_times)):
            if food_times[i] == 0:
                continue
            elif k == 0: 
                return i+1
            else:
                food_times[i] -= 1
                k -= 1

In [418]:
%%time
solution([1,1,66,1,2,21,1,1,115,1,1,1,1,1,50,1,1], 1110)

CPU times: user 209 µs, sys: 27 µs, total: 236 µs
Wall time: 238 µs

-1

In [320]:
def get_multiple_elements_in_list(in_list, in_indices):
    """리스트에서 복수인덱스 값을 가져온다"""
    return [in_list[i] for i in in_indices]

In [407]:
def solution(food_times, k):
    # if sum(food_times) < k: return -1

    idx = list(range(0, len(food_times)))
    min_time = min(food_times)
    print(min_time)

    while k >= len(idx):
        if max(food_times) == 0: return -1
        for i in idx:
            food_times[i] = (food_times[i] - min_time)

        print('food_times', food_times)
        k -= min_time * len(idx)
        print('k = ', k)

        idx = [i for i in idx if food_times[i] != 0]
        print('idx', idx)

    while k >= 0:
        if max(food_times) == 0: return -1

        for i in idx:
            if food_times[i] == 0:
                continue
            elif k == 0: 
                return i+1
            else:
                food_times[i] -= 1
                k -= 1

In [415]:
%time
solution([1,1,66,1,2,21,1,1,115,1,1,1,1,1,50,1,1], 10)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.96 µs

11

In [358]:
time = [3,1,2,0]
min([x for x in time if x != 0])

1